.product-list-container {
  display: flex;
  flex-direction: column;
}

.card-wrap {
  border: 1px solid #c1c1c1;
  padding: 10px;
  border-radius: 6px;
  width: 100%;
}


.title-row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 6px;
    border-bottom: 1px solid #c1c1c1;
}

.title-row p {
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

.product-title {
    font-size: 20px;
    color: #000;
    font-weight: 600;
}

.row-centered {
    display: flex;
    justify-content: center;
    /* margin-top: 8px; */
}

.row-centered p {
    font-size: 12px;
    font-weight: 300;
    color: #b2b2b2;
    align-self: center;
}
@media only screen and (min-width: 500px) {
  .product-list-container {
    flex-direction: row-reverse;
  }
  .card-wrap {
    padding: 6px;
    width: 50%;
    margin-left: 4px;
  }
}
