.overlay {
  position: absolute;
  top: 0;
  left: 10%;
  width: 80%;
  height: 90%;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.oval {
  width: 50%;
  height: 80%;
  border: 2px dashed #FFF;
  border-radius: 50%;
  pointer-events: none;
}

.countdown {
  font-size: 64px;
  color: #FFF;
  position: absolute;
  display: flex;
  align-self: center;
  left: 45%;
  top: 35%;
}

.captured-container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .captured-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .center-line {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #4254EA;
    transform: translateY(-50%);
  }
  
  .moving-line {
    position: absolute;
    left: 50%;
    width: 100%;
    height: 3px;
    background-color: #4254EA;
    transform: translateX(-50%);
    animation: moveLine 3s ease-in-out;
  }
  
  @keyframes moveLine {
    0% {
      top: 50%;
      opacity: 1;
    }
    25% {
      top: 0%;
      opacity: 0;
    }
    50% {
      top: 50%;
      opacity: 1;
    }
    75% {
      top: 100%;
      opacity: 0;
    }
    100% {
      top: 50%;
      opacity: 1;
    }
  }

  .arrow {
    position: absolute;
    width: 24px;
    height: 24px;
    animation: moveAroundOval 3s infinite linear;
  }
  
  @keyframes moveAroundOval {
    0% {
      transform: translateX(90px) rotate(0deg);
    }
    25% {
      transform: translateY(90px) rotate(90deg);
    }
    50% {
      transform: translateX(-90px) rotate(180deg);
    }
    75% {
      transform: translateY(-90px) rotate(270deg);
    }
    100% {
      transform: translateX(90px) rotate(360deg);
    }
  }
  