.options-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.heading {
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}
.subheading {
  font-size: 12px;
  font-weight: 300;
  text-align: left;
  color: #b2b2b2;
}
