.mobile-input-container {
    display: flex;
    align-items: center;
    margin-top: 6px;
    margin-bottom: 8px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.input-wrap {
    display: flex;
    border: 1px solid #000;
    border-radius: 6px;
    overflow: hidden;
    width: 100%;
    flex-direction: row;
}

.select-country{
    background-color: #fff;
    border: 0;
    border-right: 1px solid #c1c1c1;
    padding: 8px;
    color: #27272a;
    align-self: flex-start;
}

.select-country:focus{
    outline: none;
}

.mobile-input {
    padding: 8px;
    color: #000;
    flex: 1;
}

input:focus{
    outline: none;
}