.prod-card {
  padding: 10px;
  border: 1px solid #c1c1c1;
  border-radius: 6px;
  flex: none;
  margin-right: 10px;
  position: relative;
}

.prod-card p {
  text-align: start;
  margin-bottom: 0;
}

.recommended-by {
  margin-top: 6px;
  border-top: 1px solid #c1c1c1;
}

.recommended-by p {
  color: #000;
  font-size: 10px;
  font-weight: 500;
  /* margin-top: 2px; */
  margin-bottom: 0;
}

.subtext {
  font-weight: 300 !important;
  margin-top: 0;
  margin-bottom: 0;
}

.name {
  font-size: 12px;
  color: #000;
  font-weight: 500;
  margin-top: 6px;
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis; 
  margin-bottom: 0;
  text-align: start;
}

.category {
  color: #b2b2b2;
  font-weight: 300;
  margin-top: 2px;
  font-size: 10px;
  margin-bottom: 0;
  text-align: start;
}
.name span {
  text-decoration-line: line-through;
}

.buybtn {
  color: #fff;
  font-weight: 500;
  padding: 6px 16px;
  border-radius: 4px;
  margin-top: 12px;
  width: 100%;
  background-color: #27272a;
}

.score {
  border-radius: 100px;
  border: 1px solid #c1c1c1;
  position: absolute;
  left: 12px;
  top: 12px;
  background-color: #fff;
  display: flex;
  padding: 0 4px;
  margin-bottom: 0;
}

.score p {
  font-size: 12px;
  color: #000;
  font-weight: 500;
  text-align: left;
  margin-left: 4px;
  margin-bottom: 0;
}

.score p span{
  font-size: 10px;
  color: #b1b1b1;
  font-weight: 300;
}