.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 12px;
}

.wrap {
    position: relative;
    width: 100%;
}

.input {
    width: 100%;
    padding: 6px;
    padding-left: 12px;
    border-radius: 6px;
    border: 1px solid #c1c1c1;
    color: #000;
}

.input:focus {
    /* outline: 1px solid red; */
    outline: none;
    border: 1px solid #000;
}

.btn {
    position: absolute;
    right: 8px;
    top: 8px;
    color: #c1c1c1;
}
.btn :hover  {
    color: #000;
}