.popup {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100vh;
}

/* .popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    width: 90%;
    max-width: 420px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    overflow-y: auto;
    max-height: 88%;
  } */

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px 10px 0 0;
  width: 100%;
  max-width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  overflow-y: auto;
  max-height: 88%;
}

.popup-content.index-2 {
  width: 100%;
  max-width: 100%;
}


@media (min-width: 768px) {
  .popup-content {
    width: 400px;
    max-width: 400px;
    position: absolute;
    right: 10%;
  }
  .popup-content.index-2 {
    width: 80%;
    max-width: 80%;
  }
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}

.row-between {
  display: flex;
  justify-content: space-between;
}
